<h3>Top Users</h3>
<div class="grid grid-pad">
  <div *ngFor="let user of users" class="col-1-4" [routerLink]="['/detail',user.id]">
    <div class="module user">
      <h4>{{user.name}}</h4>
    </div>
  </div>
</div>
