<div *ngIf="user">
      <h2>{{user.name}} details!</h2>
      <div><label>id: </label>{{user.id}}</div>
      <div>
        <label>name: </label>
        <input [(ngModel)]="user.name" placeholder="name"/>
      </div>
    </div>
 <button (click)="goBack()">Back</button>